.container {
    background-color: #1f2937;
}
.grayContainer {
    background-color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.standart {
    font-size: 18px;
    color: #e5e7eb;
}

.hero>.left>h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
}

button {
    background-color: #3882f6;
}

.action {
    background-color: #3882f6;
}

.info>h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.quote>.text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}